@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("remixicon/fonts/remixicon.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.video-wrapper {
  @apply absolute inset-0 z-0;
  padding-bottom: 56.25%;
  height: 0;
}

.link-wrapped::before {
  content: "";
  @apply cursor-pointer z-10 inset-0 absolute;
}

ul.breadcrumb {
  @apply flex flex-row items-center text-lg text-white;
}

ul.breadcrumb li:not(:last-child)::after {
  content: "/";
  @apply px-4;
}

ul.breadcrumb li:not(:last-child) a {
  @apply font-light;
}

ul.breadcrumb li:last-child a {
  @apply font-semibold;
}

.main-nav-active {
  color: #805ad5;
}

.video-wrapper iframe {
  @apply absolute top-0 left-0 w-full h-full;
}

.stop-watch {
  @apply relative flex items-center justify-center;
  color: #06f1f6;
  text-shadow: 1px 1px 4px;
}

.stop-watch section {
  @apply flex flex-col justify-center items-center p-4;
}

.stop-watch section p {
  @apply sm:text-5xl text-2xl;
}

.slick-arrow {
  @apply hidden;
}

.social-links a {
  @apply inline-block h-10 w-10 leading-10 rounded-full px-1;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.social-links a:nth-child(2) {
  margin-left: 1.25rem;
}

.social-links a:nth-last-child(1) {
  margin-left: 1.25rem;
}

.social-links a:hover {
  @apply bg-purple-700 text-black;
  transition: all 0.3s ease;
}

.wrapper-schedulee {
  background-image: linear-gradient(to right, #07142e, #094661);
}

.wrapper-schedule {
  background-image: linear-gradient(to right, #0a2147, #263a9f);
}

.PhoneInputInput {
  @apply w-full px-6 py-3 focus:outline-none border border-gray-600;
}

.input {
  @apply w-full px-6 py-3 focus:outline-none border;
}

aside .overlay {
  @apply bg-black opacity-25 inset-0 fixed;
  content: "";
  z-index: 9;
  width: 100vw;
  height: 100vh;
}

.overlay {
  @apply transition-all duration-500;
}

.toggle-dash {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 30px;
  top: 45px;
}

.toggle-dash:focus {
  outline: none;
}

.toggle-dash::before,
.toggle-dash::after {
  right: 0;
  position: absolute;
  --bg-opacity: 1;
  background-color: #132b50;
  background-color: rgba(19, 43, 80, var(--bg-opacity));
  transition-property: all;
  transition-duration: 200ms;
  content: "";
  height: 3px;
  transform-origin: center;
}

.toggle-dash::before {
  top: 26%;
  width: 20px;
}

.toggle-dash::after {
  top: 58%;
  width: 12px;
}

.toggle-dash.active::before,
.toggle-dash.active::after {
  width: 20px;
  top: 50%;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.toggle-dash.active::before {
  transform: translateY(-50%) rotate(-45deg);
}

.toggle-dash.active::after {
  transform: translateY(-50%) rotate(45deg);
}

.toggle {
  @apply relative w-5 h-5;
  z-index: 9999;
}

.toggle:focus {
  outline: none;
}

.toggle::before,
.toggle::after {
  @apply right-0 absolute bg-gray-300 transition-all duration-200;
  content: "";
  height: 3px;
  transform-origin: center;
}

.toggle::before {
  top: 26%;
  width: 20px;
}

.toggle::after {
  top: 58%;
  width: 12px;
}

.toggle.active::before,
.toggle.active::after {
  content: "";
  width: 20px;
  top: 50%;
}

.toggle.active::before {
  transform: translateY(-50%) rotate(-45deg);
}

.toggle.toggle.active:after {
  transform: translateY(-50%) rotate(45deg);
}

/*Pagination*/

.pagination {
  @apply flex flex-wrap justify-center bg-white p-2 w-full;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(56, 5, 90, 0.1);
  background-color: rgba(150, 23, 128, 0);
  border: 2px solid #9a178f ;
}

.pagination a {
  @apply list-none flex text-center justify-center text-lg font-medium cursor-pointer mx-2 border w-10 h-10  rounded-full;
  line-height: 45px;
  user-select: none;
  transition: all 0.3s ease;
  color: #20b2aa;
  border: 2px solid #9a178f ;
}

.pagination a:hover {
  color: white;
  background-color: rgba(17,5,44,255);
}

.paginationActive a {
  color: white;
  background-color: #9a178f;
}

.item figure.item-image {
  position: relative;
  perspective: 10000px;
}

.item figure.item-image::before {
  content: "";
  @apply absolute inset-0 bg-purple-700 opacity-0 transition-all duration-300;
}

.item:hover figure.item-image::before {
  @apply opacity-75 rounded-xl;
}

.item figure.item-image svg.icon-games {
  @apply transition-all duration-300 fill-teal-500;
  content: "";
  position: absolute;
  width: 58px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  opacity: 0;
  transform: translatex(-50%) translateY(-50%) rotate(-45deg);
}

.item:hover figure.item-image svg.icon-games {
  opacity: 7;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.dropdown-menu {
  @apply z-10 md:top-20;
  text-align: center;
  width: 200px;
  position: absolute;
  list-style: none;
}

.dropdown-menu li {
  @apply bg-purple-900;
}

.dropdown-menu li:hover {
  @apply bg-indigo-700;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  @apply text-indigo-500 hover:text-white;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  padding: 16px;
}

/*@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}*/
